<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quote to Quote</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/foundation.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/app.css') }}">
</head>
<body>
        <!-- Start Top Bar -->
        <div class="top-bar">
            <div><h3>{{user.firstName}} {{user.lastName}}</h3></div>
            <div class="top-bar-middle">

              <ul class="menu">
                <li><a href="/new/quotes"><button class="button">Add a Quote</button></a></li>
                <li><a href="/logout"><button class="button">Logout</button></a></li>
              </ul>
            </div>
          </div>
          <!-- End Top Bar -->


          <div class="callout large primary">
            <div class="row column text-center" id="dashheader">
              <h1>Quotes to Quote</h1>
              <h2 class="subheader">If its good for you its good for us too!</h2>
            </div>
          </div>

          <div class="grid-container">
            <div class="grid-x">
                <div class="row medium-12 large-12 columns">
                    {% for this_quote in all_quotes %}
                    <div class="blog-post">
                      <h3>{{this_quote.title}} <small>{{this_quote.createdAt}}</small></h3>
                      <div class="callout">
                        <ul class="menu simple">
                          <li>{{this_quote.quote}}</li>
                          <li><a href="/show/{{this_quote.id}}">View</a></li>
                          {% if user.id == this_quote.user_id %}
                          <li><a href="/edit/{{this_quote.id}}">Edit</a></li>
                          <li><a href="/delete/{{this_quote.id}}">Delete</a></li>
                          {% endif %}
                        </ul>
                      </div>
                    {% endfor %}
                </div>
            </div>
          </div>
</body>
</html>