<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{this_quote.title}}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/foundation.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/app.css') }}">
</head>
<body>

    <div class="top-bar">
        <div><h3>{{user.firstName}} {{user.lastName}}</h3></div>
        <div class="top-bar-middle">

          <ul class="menu">
            <li><a href="/dashboard"><button class="button">Dashboard</button></a></li>
            <li><a href="/logout"><button class="button">Logout</button></a></li>
          </ul>
        </div>
      </div>
    <div class="outer">
        <div class="callout large primary">
            <div class="row column text-center" id="dashheader">
              <h1>Viewing {{this_quote.title}}</h1>
              <h2 class="subheader">{{this_quote.quote}}</h2>
            </div>
          </div>
    </div>
</body>
</html>